{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}
      Title
    {% endblock %}
  </title>
  <link rel="stylesheet" href="{% static 'css/style.css'%}">
  {% tailwind_css %}
</head>
<body>
  <h1 class="bg-indigo-700 text-4xl">
    {% block heading %}
      Heading
    {% endblock %}
  </h1>
  <div class="flex justify-around items-center h-screen">
    {% block urls %}
      URL
    {% endblock %}
  </div>
</body>
</html>


